<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inventive.attendanceUser">

    <uses-sdk />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_attboxlogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_attboxlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceRec1"
        android:largeHeap="true"
        android:usesCleartextTraffic="true">


        <activity android:name=".activity.SetDateTimeActivity" />
        <activity
            android:name=".activity.MainStableScreenActivity"/>
        <activity android:name=".activity.EmployeeList" />
        <activity android:name=".activity.DailyReportActivity" />
        <activity android:name=".activity.ViewReportActivity" />
        <activity android:name=".activity.DownloadStatusActivity" />
        <activity android:name=".activity.MultipleFacesActivity" />
        <activity
            android:name=".activity.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".receiver.PowerConnectionReceiver"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.BatteryLevelReceiver"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"/>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>

</manifest>